.Index {
  background-image: linear-gradient(cyan, blue);
}

.Aboutme {
  background-image: linear-gradient(cyan, blue);
}

.Portfolio {
  background-image: linear-gradient(cyan, blue);
}

.whoami {
  margin-left: 100px;
  margin-right: 100px;
}

.whoami p {
  font-size: 20px;
}
